$primary:#97d6d5;
$header-font: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;

.post {
  margin-top: 20px;
  h2 {
    text-align: right;
    color: $primary;
    font-family: $header-font;
  }
}

iframe {
  border: none;
}